# Ignore all files inside the data/ folder
data/*

# Remove all cache
*/__pycache__

# Allow the data/ folder to remain in the repository
!data/

# Ensure this works even if the folder is empty by keeping a placeholder file
!.gitkeep
